body{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 14%;
    margin-right: 15%;
    line-height: 30px;
    font-size: 18px;
}
#header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
#name-title {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 3px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: 'Playfair Display', serif;
}
#title-desc{
    font-size: 20px;
    letter-spacing: 3px;
    padding-left: 40px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Playfair Display', serif;
}
#address{
    position: absolute;
    right: 0;
    padding-right: 10%;
    top: 30px;
    padding-bottom: 10px; 
}
#static-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}
#s-h-title {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 3px;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    /* font-family: 'Playfair Display', serif; */
}
#s-h-title-desc{
    font-size: 18px;
    letter-spacing: 3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    font-weight: bold;
    /* font-family: 'Playfair Display', serif; */
}
.horizontal-line{
    background-color: #b1a9a9;
    margin: 5px 0px 5px 0px;
    height: 3px;
    border-radius: 3px;
}
#left-bar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    padding: 30px;
    font-family: 'Playfair Display', serif;
    /* height: 100%;; */
}
#container{
    position: absolute;  
    left: 30%; 
    right: 5%;
}
.title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
    text-shadow: #d8cccc 1px 1px 2px;
}
.black-shadow{
    text-shadow: #000000 1px 1px 2px;
}
.content{
    text-align: justify;
    padding-top: 5px;
    font-size: 18px;
}
.side-heading{
    padding-top: 10px;
}
.gray-text{
    color: #7e7e7e;
}
td{
    padding-right: 120px;
}
ul{
    text-align: justify; 
    margin-top: 5px;
}
.side{
    padding-left: 25px;
}
#scroll_button{
    position: fixed;
    bottom: 50px;
    right: 20px;
    text-align: center;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
    background: #cecaca;
}
#footer{
    background: #cecaca; 
    border-radius: 5px;
    text-align: center;
    padding: 10px 10px 15px 0;
}

a.black-link:link {
    color: #000000;
    text-decoration: none;
}
a.black-link:visited {
    color: #000000;
    text-decoration: none;
}
a.black-link:hover {
    color: rgb(0, 132, 255);
    text-decoration: none;
}
a.black-link:active {
    color: rgb(0, 132, 255);
    text-decoration: underline;
}
a.white-link:link {
    color: #ffffff;
    text-decoration: none;
}
a.white-link:visited {
    color: #ffffff;
    text-decoration: none;
}
a.white-link:hover {
    color: rgb(0, 132, 255);
    text-decoration: none;
}
a.white-link:active {
    color: rgb(0, 132, 255);
    text-decoration: underline;
}