body{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 14%;
    margin-right: 15%;
    font-size: 20px;
    line-height: 30px;
}
#main{
    position: fixed;
    top: 0;
    background: #ffffff;
    z-index: 10;
    width: 100%;
    padding-bottom: 10px;
}
#title {
    font-size: 40px;
    font-weight: bolder;
    padding-top: 35px;
    color: #0b5394;
    text-shadow: #d8cccc 2px 2px 2px;
}
.horizontal-line{
    background-color: #b1a9a9;
    margin: 5px 0px 5px 0px;
    height: 3px;
    border-radius: 3px;
}
#top-line{
    width: 71%;
}
#container{
    position: relative;
    top: 100px;
}
.title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
    color: #0b5394;
    text-shadow: #d8cccc 1px 1px 2px;
}
.content{
    text-align: justify;
    padding-top: 5px;
}
.gray-text{
    color: #7e7e7e;
}
.desc{
    color: #5e5d5d;
}
td{
    padding-right: 120px;
}
.side{
    padding-left: 40px;
}
#scroll_button{
    position: fixed;
    bottom: 50px;
    right: 20px;
    text-align: center;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
    background: #cecaca;
}
#footer{
    background: #cecaca; 
    border-radius: 15px;
    text-align: center;
    padding: 10px 0 15px 0;
}