body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url('background.jpg');
    height: 100%;
    background-size: cover;        
    /* background-repeat: no-repeat; */
    background-position: center;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 30px;
    font-size: 18px;
}
#header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
#name-title {
    font-size: 60px;
    font-weight: bolder;
    letter-spacing: 3px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 15px;
    font-family: 'Playfair Display', serif;
}
#title-desc{
    font-size: 25px;
    letter-spacing: 3px;
    padding-left: 40px;
    font-weight: bold;
    padding-top: 20px;
    /* padding-bottom: 10px; */
    font-family: 'Playfair Display', serif;
}
#portfolio-desc{
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 40px;
    /* font-weight: bold; */
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Playfair Display', serif;
}
#address{
    position: absolute;
    right: 0;
    padding-right: 10%;
    top: 30px;
    padding-bottom: 10px; 
}
#static-header{ /* unused */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}
#s-h-title {
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 3px;
    padding-top: 20px;
    /* padding-left: 10px;
    padding-right: 10px; */
    font-family: 'Playfair Display', serif;
}
#s-h-title-desc{
    font-size: 22px;
    letter-spacing: 3px;
    /* padding-left: 10px;
    padding-right: 10px; */
    padding-top: 25px;
    padding-bottom: 20px;
    /* font-weight: bold; */
    font-family: 'Playfair Display', serif;
}
.horizontal-line{
    background-color: #b1a9a9;
    margin: 5px 0px 5px 0px;
    height: 3px;
    border-radius: 3px;
}
#left-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    overflow-y: auto;       /* Enables vertical scroll */
    box-sizing: border-box; /* Ensures padding doesn't expand width */
}
#container{
    position: absolute;  
    left: 30%; 
    right: 5%;
}
.title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
    text-shadow: #d8cccc 1px 1px 2px;
}
.black-shadow{
    text-shadow: #000000 1px 1px 2px;
}
.content{
    text-align: justify;
    padding-top: 5px;
    font-size: 18px;
}
.side-heading{
    padding-top: 10px;
}
.gray-text{
    color: #6c6969;
}
td{
    padding-right: 120px;
}
ul{
    margin-top: 5px;
}
.side{
    padding-left: 25px;
}
#scroll_button{
    position: fixed;
    bottom: 2%;
    right: 2%;
    text-align: center;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
    background: #cecaca;
}

a.black-link:link {
    color: #000000;
    text-decoration: none;
}
a.black-link:visited {
    color: #000000;
    text-decoration: none;
}
a.black-link:hover {
    color: rgb(0, 132, 255);
    text-decoration: none;
}
a.black-link:active {
    color: rgb(0, 132, 255);
    text-decoration: underline;
}
a.white-link:link {
    color: #ffffff;
    text-decoration: none;
}
a.white-link:visited {
    color: #ffffff;
    text-decoration: none;
}
a.white-link:hover {
    color: rgb(0, 132, 255);
    text-decoration: none;
}
a.white-link:active {
    color: rgb(0, 132, 255);
    text-decoration: underline;
}