body{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 80px;
    font-size: 20px;
    line-height: 30px;
}
.side-heading{
    display: block;
}
.second-table-item{
    padding-left: 50px;
    vertical-align: top;
}
.next-item{
    margin-top:15px;
    display: block;
}
.title{
    font-size: 25px;
    color: #0b5394;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    padding-bottom: 3px;
    border-bottom: #b1a9a9 2px solid;
    text-shadow: #d8cccc 1px 1px 2px;
}
.gray-text{
    color: #7e7e7e;
}
.in-line{
    position: relative;
    top: 33px;
}
th{
    padding-bottom: 10px;
    padding-top: 10px;
}

#personal-table{
    margin-left: 50px;
}
#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #cecaca; 
    text-align: center;
    padding: 6px;
}
a:link{
    text-decoration: none;
    color: #000000;
}
a:visited {
    color: #000000;
}  
a:hover {
    color: rebeccapurple;
}
#title{
    padding-top: 35px;
    font-size: 40px;
    color: #0b5394;
    background: #ffffff;
    width: 100%;
    font-weight: bold;
    box-shadow: #b1a9a9 1px 1px 1px;
    text-shadow: #d8cccc 2px 2px 2px;
    z-index: 10;
}
#container{
    position: fixed;
    top: 80px;
    bottom: 35px;
    width: 100%;
    overflow: scroll;
}
#container div{
    padding: 3px;
    padding-top: 25px;
}
#scroll_button{
    position: fixed;
    bottom: 50px;
    right: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 50px;
    background: #cecaca;
}
#scroll_button:hover{
    text-decoration: none;
}
ul{
    margin-bottom: 0;
}