body{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}
.horizontal-line{
    box-shadow: #b1a9a9 1px 1px 1px;
    height: 2px;
    /* width: 800px; */
}
.side-heading{
    margin-top: 5px;
    display: block;
    margin-bottom: 5px;
}
.second{
    padding-left: 50px;
    vertical-align: top;
}
.title{
    font-size: 25px;
    color: #0b5394;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
.gray-text{
    color: #7e7e7e;
}
.in-line{
    position: relative;
    top: 33px;
}
th{
    padding-bottom: 10px;
    padding-top: 10px;
}
#name{
    position: fixed;
    top: 0px;
    left: 0;
    margin-left: 50px;
    padding-top: 35px;
    font-size: 40px;
    color: #0b5394;
    background: #ffffff;
    width: 100%;
    font-weight: bold;
    box-shadow: #b1a9a9 1px 1px 1px;
    z-index: 10;
}
#address{
    position: absolute;
    top:95px;
    margin-left: 10px;
}
#links{
    position: absolute;
    top:125px;
    margin-left: 10px;
}
#line{
    position: absolute;
    top:156px;
}
#profile{
    position: absolute;
    top:180px;
}
#tech-skills{
    position: absolute;
    top:290px;
}
#experience{
    position: absolute;
    top:490px;
}
#projects{
    position: absolute;
    top:920px;
}
#education{
    position: absolute;
    top:1250px;
}
#personal-info{
    position: absolute;
    top:1655px;
}
#personal-table{
    margin-left: 50px;
}
#cut-down-footer{
    position: absolute;
    top:1900px;
    height: 25px;
}
#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
    background: #b1a9a9; 
    text-align: center;
}
a:link{
    text-decoration: none;
    color: #000000;
}
a:visited {
    color: #000000;
}  
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}